<h1 class="ml-3 mt-3 mb-3">Camisas Masculinas</h1>
<form [formGroup]="camisasMasculinasForm" class="mx-3">
  <!-- Imagem Upload -->
  <input type="text" formControlName="urlImage" [(ngModel)]="nomeImg" hidden />
  <div class="form-group text-center">
    <img
      src="http://localhost:8080/images/{{ this.nomeImg }}"
      height="311"
      width="288"
      *ngIf="this.altPrev && this.nomeImg != 'Selecione uma imagem!'"
    />
    <img [src]="imgURL" height="311" width="288" *ngIf="this.savImg" />
    <br />
    <div class="mt-3">
      <button type="button" class="btn btn-primary" (click)="imgUploadClick()">
        Carregar
      </button>
      <span class="ml-2" *ngIf="!message && imgValid">{{ this.nomeImg }}</span>
      <span class="ml-2" style="color: red" *ngIf="message">{{ message }}</span>
      <span class="ml-2" style="color: red" *ngIf="!imgValid"
        >É obrigatório o envio de imagem!</span
      >
      <input
        #file
        type="file"
        accept="image/*"
        id="Imagem"
        (change)="preview(file.files)"
        hidden
      />
    </div>
  </div>
  <!-- Marca Input -->
  <div class="form-group">
    <app-field-validation-container>
      <label label class="fontSize" for="marca">Marca </label>
      <input
        input
        type="text"
        class="form-control"
        id="marca"
        placeholder="Ex: Nike"
        formControlName="marca"
      />
    </app-field-validation-container>
  </div>

  <!-- Cor Input -->
  <div class="form-group">
    <app-field-validation-container>
      <label label class="fontSize" for="cor">Cor </label>
      <input
        input
        type="text"
        class="form-control"
        id="cor"
        placeholder="Ex: Azul"
        formControlName="cor"
      />
    </app-field-validation-container>
  </div>
  <!-- Tamanho Select -->
  <div class="form-group">
    <app-field-validation-container>
      <label label class="fontSize" for="tamanho">Tamanho </label>
      <select input class="form-control" id="tamanho" formControlName="tamanho">
        <option>P</option>
        <option>M</option>
        <option>G</option>
      </select>
    </app-field-validation-container>
  </div>
  <!-- Preço Input -->
  <div class="form-group">
    <app-field-validation-container>
      <label label class="fontSize" for="preco">Preço </label>
      <input
        input
        type="text"
        class="form-control"
        id="preco"
        placeholder="Ex: R$:11,25"
        formControlName="preco"
      />
    </app-field-validation-container>
  </div>
  <div class="mb-3">
    <!-- Adicionar Button -->
    <a
      (click)="onSave(camisasMasculinasForm.value)"
      class="btn btn-primary botoes text-white"
      type="submit"
      role="button"
      ><i
        class="fas fa-plus-circle"
        *ngIf="this.addBtnLabel == 'Adicionar'"
      ></i>
      <i class="fas fa-save" *ngIf="this.addBtnLabel == 'Alterar'"></i>
      {{ this.addBtnLabel }}
    </a>
    <!-- Cancelar Button -->
    <a
      (click)="onCancel()"
      class="btn btn-secondary botoes text-white ml-3"
      role="button"
      ><i class="fas fa-times-circle"></i> Calcelar</a
    >
  </div>
</form>
