<div class="list-prod-add-btn">
  <button
    type="button"
    class="btn btn-primary"
    [routerLink]="['/administrador/camisasMasculinas/cadastrar']"
  >
    Cadastrar
  </button>
</div>
<h1 class="ml-3 mt-3">Camisas Masculinas</h1>
<table class="table table-sm mt-3 text-white text-center">
  <thead>
    <tr>
      <th scope="col">Imagem</th>
      <th scope="col">Marca</th>
      <th scope="col">Cor</th>
      <th scope="col">Tamanho</th>
      <th scope="col">Preço</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let camisa of resultados">
      <td>
        <img
          class="mr-3"
          src="http://localhost:8080/images/{{ camisa.urlImage }}"
          alt="camisa"
          width="40px"
          height="40px"
        />
        <a
          type="button"
          class="btn btn-primary btn-sm"
          href="http://localhost:8080/images/{{ camisa.urlImage }}"
          target="_blank"
          >Vizualizar</a
        >
      </td>
      <td>{{ camisa.marca }}</td>
      <td>{{ camisa.cor }}</td>
      <td>{{ camisa.tamanho }}</td>
      <td>R${{ camisa.preco }}</td>
      <td>
        <a
          class="btn btn-warning btn-sm mr-3 text-white"
          role="button"
          [routerLink]="['alterar/', camisa.id]"
        >
          <i class="fas fa-pencil-alt"></i>
        </a>

        <a
          class="btn btn-danger btn-sm"
          role="button"
          (click)="deleteById(camisa)"
        >
          <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
