<nav class="navbar justify-content-center">
  <span class="h3 mr-4 my-1"> <i class="fas fa-hat-wizard"></i> Magic-IO </span>
  <div class="input-group my-2 col-md-3">
    <input
      type="text"
      class="form-control"
      placeholder="Pesquisar..."
      aria-label="Text input with segmented dropdown button"
    />
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-secondary">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</nav>

<ul class="nav mg-top bg-dark justify-content-center">
  <li class="nav-item">
    <a class="nav-link active text-white" [routerLink]="['/']"
      ><i class="fas fa-home"></i> Inicio</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link text-white">></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active">
      <div class="dropdown text-white">
        <a
          class="dropdown-toggle text-decoration-none text-reset"
          id="dropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          role="button"
        >
          <i class="fas fa-tshirt"></i> Camisas
        </a>

        <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
          <a
            class="dropdown-item text-white dropdown-options"
            role="button"
            [routerLink]="['/camisasMasculinas']"
            ><i class="fas fa-mars"></i> Masculinas</a
          >
          <a
            class="dropdown-item text-white dropdown-options"
            role="button"
            [routerLink]="['/camisasFemininas']"
            ><i class="fas fa-venus"></i> Femininas</a
          >
        </div>
      </div>
    </a>
  </li>
</ul>
