<h1 class="text-center mt-3">Camisas Femininas</h1>
<div class="row mx-auto">
  <div class="col-sm d-flex" *ngFor="let camisa of resultados">
    <div
      class="card bg-dark my-3 mx-auto prod-card"
      style="
        width: 18rem;
        background-image: url('../../../../../../assets/img/gallery/DnDLogo.png');
        background-repeat: no-repeat;
        background-position: bottom;
      "
    >
      <img
        src="http://localhost:8080/images/{{ camisa.urlImage }}"
        class="card-img-top"
        alt="camisa"
        height="311"
      />
      <div class="card-body">
        <h5 class="card-title">
          {{ camisa.marca }}
        </h5>
        <h5 class="card-title">{{ camisa.preco }}</h5>
        <p class="card-text">{{ camisa.cor }} <br /></p>
        <div class="tamanho-camisa text-dark grey8-light">
          <p>{{ camisa.tamanho }}</p>
        </div>
        <a
          class="btn btn-primary"
          id="{{ camisa.id }}"
          (click)="btnCarrinhoCor(camisa.id)"
          ><i class="fas fa-cart-plus"></i> Carrinho</a
        >
      </div>
    </div>
  </div>
</div>
